@font-face {
    font-family: "iconfont"; /* Project id 3571084 */
    src: url('//at.alicdn.com/t/c/font_3571084_l4mf2dasfob.woff2?t=1660121829722') format('woff2'),
         url('//at.alicdn.com/t/c/font_3571084_l4mf2dasfob.woff?t=1660121829722') format('woff'),
         url('//at.alicdn.com/t/c/font_3571084_l4mf2dasfob.ttf?t=1660121829722') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-shanchu:before {
    content: "\e718";
  }
  
  .icon-sousuo:before {
    content: "\e606";
  }
  
  .icon-qingkong:before {
    content: "\e623";
  }
  
  .icon-zantingyanshi-:before {
    content: "\e637";
  }
  
  .icon-liebiao:before {
    content: "\e62d";
  }
  
  .icon-random:before {
    content: "\e61c";
  }
  
  .icon-yunhang:before {
    content: "\ec61";
  }
  
  .icon-diyigeshipin:before {
    content: "\e609";
  }
  
  .icon-zuihouyigeshipin:before {
    content: "\e60f";
  }
  
  .icon-comment:before {
    content: "\e667";
  }
  
  .icon-icon:before {
    content: "\e67a";
  }
  
  .icon-xihuan:before {
    content: "\e86f";
  }
  
  .icon-wodehaoyou:before {
    content: "\e628";
  }
  
  .icon-geren:before {
    content: "\e653";
  }
  
  .icon-icon-:before {
    content: "\e721";
  }
  
  .icon-xiaoxitongzhi:before {
    content: "\ec35";
  }
  
  .icon-shipinzhibo:before {
    content: "\e65c";
  }
  
  .icon-yinle101:before {
    content: "\e727";
  }
  
  .icon-zhuye:before {
    content: "\e639";
  }
  
  .icon-music_playlist:before {
    content: "\e61b";
  }
  
  .icon-paihangbang_paiming:before {
    content: "\e658";
  }
  
  .icon-diantai:before {
    content: "\e693";
  }
  
  .icon-zhibo:before {
    content: "\ed22";
  }
  